body {
    width:980px;
    margin:0 auto;
    }
#A {
    height:150px;
    background-color:#FFFF;
    }
#B {
    width:250px;
    min-height:500px;
    height:auto;
    background-color:#FFFF;
    float:left;
    margin-top:10px;
    }
#C {
    width:250px;
    min-height:500px;
    height:auto;
    background-color:#FFFF;
    float:right;
    margin-top:10px;
    }
#D { 
    margin-left:260px;
    width:460px;
    min-height:500px;
    height:auto;
    background-color:#FFFF;
    margin-top:10px;
    }
#E { 
    margin-top:10px;
    height:100px;
    background-color:#FFFF;
    }